<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.fr3ts0n.androbd.plugin">

    <!-- to keep service running even when screen is inactive -->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
        android:allowBackup="true"
        android:label="@string/app_name" >
    </application>

</manifest>
